body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: block; /* Change to block to enable scrolling */
    justify-content: left;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #333;
}

.search-container {
    display: list-item;
    justify-content: left;
    margin-bottom: 20px;
}

#searchInput {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.movie-list {
    list-style: none;
    padding: 0;
}

.movie-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.movie-item img {
    width: 100px;
    height: 150px;
    margin-right: 10px;
}

.movie-detail {
    text-align: center;
    padding: 20px;
}

.movie-detail img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.movie-detail h2 {
    margin: 10px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Allows scrolling in the modal */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    overflow-y: auto; /* Allows scrolling within the modal if content overflows */
    max-height: 80vh; /* Ensures modal does not exceed the viewport height */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
